<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
        &nbsp
        <% if logged_in? %>
         <%= link_to "destroy", tag_path(tag), :method => :delete %>
        <% end %>
    </li>
  <% end %>
</ul>
